# git
configs/git/*
!configs/git/gitconfig
!configs/git/gitconfig_\[profile\]
!configs/git/gitignore_global
!configs/git/install.sh

# ssh
configs/ssh/*
!configs/ssh/config
!configs/ssh/config_\[profile\]
!configs/ssh/install.sh
